@font-face {
    font-family: 'Bank Gothic';
    font-style: normal;
    font-weight: 300;
    src: local('Bank Gothic'), url('ufonts.com_bank-gothic-light.woff') format('woff');
}

.pageHeader{
    padding: 60px;
    text-align: center;
    background: lightgray;
    color: blue;
    font-size: 30px;
    font-family: Bank Gothic;
}
.MainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: #dddddd;
}
.MainNav li{
    display: inline;
    float: left;
}
.MainNav a{
    display: block;
    padding: 8px;
}

.partSpecs table {
    border: 1px black;
}
.partSpecs tr, th, td{
    padding: 15px;
    border: 1px solid black;
}
.partSpecs table{
    border-collapse: collapse;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.partSpecs table th{
    background-color: grey;
    width: 25%;
}

.partSpecs table input{
    width: 100%; /* Full-width */
    height: 100%;
    font-size: 16px;
    padding: 9px;
    margin: -10px;
    border: 1px solid #ddd; /* Add a grey border */
}
div.checkIO{
    display: none;
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: lightgrey;
    border-radius: 5%;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */

}
div.checkIO label{
    margin-left: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
div.checkIO #close{
    display: inline-block;
    content: "\00d7";
}
div.checkIO input {
    margin-left:  5%;
    border: 1px solid black;
    width: 75%;
    font-size: 16px; /* Increase font-size */
}